apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: employee-api-data
  namespace: employee-api
  labels:
    app: employee-api
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard-rwo
